/* Init Perkins */
/*
* Helpers
*/
.btn,
input[type="submit"],
button {
  display: inline-block;
  padding: 0.7em 1em;
  color: #444444;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 3px 0;
  background: #e6e6e6;
  /* Legacy browsers */

  background: #d9d9d9 none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#d9d9d9));
  background: none, -webkit-linear-gradient(#e6e6e6, #d9d9d9);
  background: none, -moz-linear-gradient(#e6e6e6, #d9d9d9);
  background: none, -o-linear-gradient(top, #e6e6e6, #d9d9d9);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#e6e6e6), to(#d9d9d9));
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  font-weight: 300;
}
.btn:hover,
input[type="submit"]:hover,
button:hover {
  background: #cdcdcd;
  /* Legacy browsers */

  background: #e6e6e6 none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#e6e6e6));
  background: none, -webkit-linear-gradient(#cdcdcd, #e6e6e6);
  background: none, -moz-linear-gradient(#cdcdcd, #e6e6e6);
  background: none, -o-linear-gradient(top, #cdcdcd, #e6e6e6);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#cdcdcd), to(#e6e6e6));
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 5px rgba(32, 32, 32, 0.2) inset;
  color: #444444;
  text-decoration: none;
}
.sbtn {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 5px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
h1 a.btn,
h2 a.btn,
h3 a.btn {
  padding: 25px 30px 20px !important;
}
/*
  TODO Pills Menu
*/
.h-menu {
  margin: 0;
  padding: 0;
  float: left;
}
.h-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.h-menu li a {
  display: block;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
}
.v-menu {
  margin: 0;
  padding: 0;
  float: none;
}
.v-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
}
.v-menu li a {
  display: block;
  padding: 10px 5px 5px;
  margin: 0 0 -1px 0;
  text-decoration: none;
}
.t-menu {
  margin: 0;
  padding: 0;
  float: left;
}
.t-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.t-menu li a {
  display: block;
  padding: 10px 20px 4px;
  margin: 0 -1px 0 0;
  text-decoration: none;
}
.t-menu a {
  background: #f4f4f4;
}
.t-menu a:hover {
  background: #ddd;
}
.p-dropdown {
  margin: 0;
  padding: 5px;
  line-height: 100%;
  display: inline-block;
  background: #f4f4f4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.p-dropdown li {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  list-style: none;
}
.p-dropdown a {
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  color: #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.p-dropdown a:hover {
  color: #666;
}
.p-dropdown ul {
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2000;
  background: #f4f4f4;
  -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.7), 0 0 0 transparent;
  -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.7), 0 0 0 transparent;
  -ms-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.7), 0 0 0 transparent;
  -o-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.7), 0 0 0 transparent;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.7), 0 0 0 transparent;
  border: 1px solid #ccc;
}
.p-dropdown li:hover > ul {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.p-dropdown li:hover > ul li {
  float: none;
  margin: 0;
  padding: 0;
}
.p-dropdown ul ul {
  left: 181px;
  top: -3px;
}
.p-dropdown:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.p-dropdown li[data-darr] a {
  padding: 8px 25px 8px 20px;
}
.p-dropdown li[data-darr]:before {
  font-family: 'icons';
  content: '\e75c';
  position: absolute;
  right: 7px;
  top: 0.3em;
}
.p-dropdown li[data-rarr] a {
  padding: 8px 25px 8px 20px;
}
.p-dropdown li[data-rarr]:before {
  font-family: 'icons';
  content: '\e75e';
  position: absolute;
  right: 10px;
  top: 3px;
}
.p-tags {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}
.p-tags li {
  list-style: none;
  position: relative;
  display: inline-block;
  margin: 0 0.85em 0 0;
}
.p-tags li:before {
  content: "";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  /* Legacy browsers */

  background: #e2cc3b none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#efe394), to(#e2cc3b));
  background: none, -webkit-linear-gradient(#efe394, #e2cc3b);
  background: none, -moz-linear-gradient(#efe394, #e2cc3b);
  background: none, -o-linear-gradient(top, #efe394, #e2cc3b);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#efe394), to(#e2cc3b));
  border: 1px solid #ccb51e;
  width: 19px;
  height: 18px;
  position: absolute;
  z-index: 50;
  right: -9px;
  top: 4px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform: scale(1) rotate(-45deg) translatex(0) translatey(0) skewx(0) skewy(0);
  -webkit-transform: scale(1) rotate(-45deg) translatex(0) translatey(0) skewx(0) skewy(0);
  -moz-transform: scale(1) rotate(-45deg) translatex(0) translatey(0) skewx(0) skewy(0);
  -o-transform: scale(1) rotate(-45deg) translatex(0) translatey(0) skewx(0) skewy(0);
  transform: scale(1) rotate(-45deg) translatex(0) translatey(0) skewx(0) skewy(0);
}
.p-tags li:after {
  content: "";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background: #ffffff;
  position: absolute;
  z-index: 150;
  right: 1px;
  top: 9px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 1px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 1px rgba(0, 0, 0, 0.4);
}
.p-tags li span {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  z-index: 100;
  padding: 0.5em 1.7em 0.4em 1em;
  font-size: 11px;
  cursor: default;
  color: #9f8d18;
  border: 1px solid #ccb51e;
  border-right: none;
  /* Legacy browsers */

  background: #e2cc3b none;
  /* Recent browsers */

  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: auto auto !important;
  background-size: 100% 100%;
  background: none, -webkit-gradient(linear, left top, left bottom, from(#efe394), to(#e2cc3b));
  background: none, -webkit-linear-gradient(#efe394, #e2cc3b);
  background: none, -moz-linear-gradient(#efe394, #e2cc3b);
  background: none, -o-linear-gradient(top, #efe394, #e2cc3b);
  background: none, -khtml-gradient(linear, left top, left bottom, from(#efe394), to(#e2cc3b));
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  font-weight: bold;
}
.p-tags li a {
  font-weight: bold;
  color: #897a14;
  font-size: 11px;
}
.p-tags li a:hover {
  text-decoration: underline;
  color: #9f8d18;
}
.p-tabs {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 200px;
}
.p-tabs .clear-tabs {
  clear: both;
  overflow: hidden;
}
.p-tabs input {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  height: 40px;
  left: -200px;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.p-tabs input:hover + label {
  background: #f4f4f4;
  color: #333333;
}
.p-tabs input:checked + label {
  background: #f4f4f4;
  color: #333333;
  z-index: 6;
}
.p-tabs label {
  background: #666666;
  color: #f4f4f4;
  line-height: 40px;
  height: 40px;
  position: relative;
  padding: 0 20px;
  float: left;
  display: block;
  text-align: center;
  border: 1px solid transparent;
}
.p-tabs label:first-of-type {
  z-index: 4;
}
.p-tabs .tab-content {
  overflow: visible;
  position: relative;
  width: 100%;
  z-index: 5;
}
.p-tabs .tab-content div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: #f4f4f4;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
.p-tabs input.tab-selector-1:checked ~ .tab-content .tab-content-1,
.p-tabs input.tab-selector-2:checked ~ .tab-content .tab-content-2,
.p-tabs input.tab-selector-3:checked ~ .tab-content .tab-content-3,
.p-tabs input.tab-selector-4:checked ~ .tab-content .tab-content-4,
.p-tabs input.tab-selector-5:checked ~ .tab-content .tab-content-5,
.p-tabs input.tab-selector-6:checked ~ .tab-content .tab-content-6,
.p-tabs input.tab-selector-7:checked ~ .tab-content .tab-content-7,
.p-tabs input.tab-selector-8:checked ~ .tab-content .tab-content-8,
.p-tabs input.tab-selector-9:checked ~ .tab-content .tab-content-9,
.p-tabs input.tab-selector-10:checked ~ .tab-content .tab-content-10 {
  z-index: 100;
  opacity: 1;
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: sans-serif;
  color: #3e3e3e;
  text-rendering: optimizeLegibility;
}
header,
nav,
footer,
aside,
article,
section {
  display: block;
}
a {
  border: none;
  color: #3326be;
}
a img {
  border: none;
  cursor: pointer;
  outline: none;
}
a:visited {
  cursor: pointer;
  outline: none;
}
a:hover {
  cursor: pointer;
  outline: none;
  color: #1c1569;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
a:active {
  cursor: pointer;
  outline: none;
}
blockquote {
  line-height: 1.5;
  margin: 1.5em 0.5 2em 1.5em;
  padding: 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
mark,
code {
  background-color: #FFFCE1;
  padding: 0 5px;
}
p {
  margin-bottom: 1em;
  font-size: 1.6rem;
  line-height: 1.4;
}
pre {
  line-height: 1.2;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  padding: 1.3em;
  font-weight: 300;
  background: #383A3F;
  color: #99D2F3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: auto;
}
pre code {
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
hr {
  background: #919191;
  color: #919191;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 0 0 1.45em;
  width: 100%;
}
br {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin: 0 0 0.2em 0;
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 3.0rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.1rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
  font-weight: normal;
}
li,
label {
  font-size: 1.6rem;
  line-height: 1.4;
}
li ol li,
li ul li {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  text-transform: none;
}
abbr {
  border-bottom: 1px dotted #919191;
  font-style: italic;
  text-transform: uppercase;
}
acronym {
  border-bottom: 1px dotted #919191;
  font-style: italic;
  text-transform: uppercase;
}
address {
  font-style: italic;
}
bdo {
  font-weight: normal;
  margin-bottom: 1.0em;
}
cite {
  font-family: sans-serif;
  font-style: italic;
}
code {
  font-family: mono-space, monospace;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.05em 5px 0.03em;
}
del {
  text-decoration: line-through;
}
dl {
  font-weight: bold;
}
dl dt {
  font-weight: 500;
}
dl dd {
  font-size: 1.6rem;
  line-height: 1.4;
}
em {
  font-style: italic;
  font-weight: normal;
}
ins {
  text-decoration: underline;
}
kbd {
  font-family: mono-space, monospace;
  font-style: italic;
}
mark {
  font-family: sans-serif;
}
meter {
  font-weight: normal;
}
p {
  font-weight: normal;
}
pre {
  font-family: mono-space, monospace;
}
q {
  font-family: serif;
  font-weight: normal;
}
samp {
  font-family: mono-space, monospace;
  font-weight: normal;
}
small {
  font-size: 75%;
}
strong {
  font-weight: bold;
}
var {
  font-style: italic;
}
ul {
  list-style-position: inside;
  list-style-type: disc;
  margin: 0 1.5em 1.5em 0;
}
ul ul {
  list-style-type: square;
}
ul ul ul {
  list-style-type: circle;
}
ul li {
  margin: 0 0 0.5em 0.85em;
}
ul li ul {
  margin: 0 1.5em 0 0;
}
ol {
  list-style-position: inside;
  list-style-type: decimal;
  margin: 1.0em 0.5em 0.5em 0.5em;
}
ol li {
  margin: 0em 0.5em 0.5em 0.5em;
}
ol li ul {
  margin: 0 1.5em 0 0;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  margin: 0px 0px 0px 10px;
  padding-bottom: 5px;
}
dl dd {
  margin: 0px 0px 0px 20px;
  padding-bottom: 5px;
}
fieldset {
  border: 1px solid #919191;
  margin: 0 0 18px 0;
  padding: 10px;
}
fieldset legend {
  color: #2a2a2a;
  padding: 0 10px;
}
input,
select,
textarea {
  border: 1px solid #919191;
  display: block;
  padding: 4px;
}
select {
  padding: 3px;
}
input:focus,
select:focus,
textarea:focus {
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  border: 1px solid #2a2a2a;
}
input[type="checkbox"] {
  margin: 3px 4px 0 2px;
}
input[type="radio"] {
  margin: 3px 4px 0 0;
}
label {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.4;
  display: block;
  cursor: pointer;
}
label input {
  display: inline-block;
}
input,
textarea,
select {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.4;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.full {
  width: 100%;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
/**
*  Perkins Defaults Settings (overwrite in app.less)
*/
/**
*  ex colors.less by Rodrigo Fuentealba
*/
/**
*  Grayscale generation
*/
/**
*  Palette generator calculations
*/
/**
*  Color palette generation
*/
/**
*  Color default for styling 
*/
/* Perkins Bowties */
/* Perkins External Bowties */
@charset "UTF-8";
@font-face {
  font-family: 'icons';
  src: url("../vendor/perkins/icons/icons.eot");
  src: url("../vendor/perkins/icons/icons.eot?#iefix") format('embedded-opentype'), url("../vendor/perkins/icons/icons.woff") format('woff'), url("../vendor/perkins/icons/icons.ttf") format('truetype'), url("../vendor/perkins/icons/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
  /* fix buttons height, for twitter bootstrap */

  line-height: 1;
  /* Animation center compensation - magrins should be symmetric */

  /* remove if not needed */

  margin-left: 0.2em;
}
.icon-at:before {
  content: '\40';
}
/* '@' */
.icon-left:before {
  content: '\2190';
}
/* '←' */
.icon-up:before {
  content: '\2191';
}
/* '↑' */
.icon-right:before {
  content: '\2192';
}
/* '→' */
.icon-down:before {
  content: '\2193';
}
/* '↓' */
.icon-home:before {
  content: '\e015';
}
/* '' */
.icon-erase:before {
  content: '\232b';
}
/* '⌫' */
.icon-star:before {
  content: '\e002';
}
/* '' */
.icon-th-list:before {
  content: '\e00a';
}
/* '' */
.icon-heart:before {
  content: '\e001';
}
/* '' */
.icon-music:before {
  content: '\e000';
}
/* '' */
.icon-th:before {
  content: '\e009';
}
/* '' */
.icon-flag:before {
  content: '\2691';
}
/* '⚑' */
.icon-tools:before {
  content: '\2692';
}
/* '⚒' */
.icon-cog:before {
  content: '\2699';
}
/* '⚙' */
.icon-flash:before {
  content: '\26a1';
}
/* '⚡' */
.icon-pencil:before {
  content: '\e021';
}
/* '' */
.icon-pencil-alt:before {
  content: '\2710';
}
/* '✐' */
.icon-feather:before {
  content: '\e022';
}
/* '' */
.icon-ok:before {
  content: '\e00b';
}
/* '' */
.icon-cancel:before {
  content: '\e00c';
}
/* '' */
.icon-cancel-circle:before {
  content: '\e00d';
}
/* '' */
.icon-quote-right:before {
  content: '\e01f';
}
/* '' */
.icon-plus-circle:before {
  content: '\e00f';
}
/* '' */
.icon-minus-circle:before {
  content: '\e011';
}
/* '' */
.icon-direction:before {
  content: '\e027';
}
/* '' */
.icon-forward:before {
  content: '\e01e';
}
/* '' */
.icon-resize-vertical:before {
  content: '\2b0c';
}
/* '⬌' */
.icon-resize-horizontal:before {
  content: '\2b0d';
}
/* '⬍' */
.icon-user-add:before {
  content: '\e005';
}
/* '' */
.icon-help-circle:before {
  content: '\e013';
}
/* '' */
.icon-info-circle:before {
  content: '\e014';
}
/* '' */
.icon-eye:before {
  content: '\e019';
}
/* '' */
.icon-tag:before {
  content: '\e70c';
}
/* '' */
.icon-tags:before {
  content: '\e70d';
}
/* '' */
.icon-reply:before {
  content: '\e01c';
}
/* '' */
.icon-reply-all:before {
  content: '\e01d';
}
/* '' */
.icon-code:before {
  content: '\e020';
}
/* '' */
.icon-comment:before {
  content: '\e023';
}
/* '' */
.icon-chat:before {
  content: '\e024';
}
/* '' */
.icon-vcard:before {
  content: '\e025';
}
/* '' */
.icon-location:before {
  content: '\e02e';
}
/* '' */
.icon-map:before {
  content: '\e026';
}
/* '' */
.icon-compass:before {
  content: '\e028';
}
/* '' */
.icon-trash:before {
  content: '\e729';
}
/* '' */
.icon-archive:before {
  content: '\e029';
}
/* '' */
.icon-rss:before {
  content: '\e02a';
}
/* '' */
.icon-share:before {
  content: '\e73c';
}
/* '' */
.icon-basket:before {
  content: '\e00e';
}
/* '' */
.icon-resize-full:before {
  content: '\e744';
}
/* '' */
.icon-resize-small:before {
  content: '\e746';
}
/* '' */
.icon-arrow-combo:before {
  content: '\e02b';
}
/* '' */
.icon-database:before {
  content: '\e754';
}
/* '' */
.icon-down-open:before {
  content: '\e75c';
}
/* '' */
.icon-left-open:before {
  content: '\e75d';
}
/* '' */
.icon-right-open:before {
  content: '\e75e';
}
/* '' */
.icon-up-open:before {
  content: '\e75f';
}
/* '' */
.icon-arrows-cw:before {
  content: '\e760';
}
/* '' */
.icon-down-open-big:before {
  content: '\e764';
}
/* '' */
.icon-left-open-big:before {
  content: '\e765';
}
/* '' */
.icon-right-open-big:before {
  content: '\e766';
}
/* '' */
.icon-up-open-big:before {
  content: '\e767';
}
/* '' */
.icon-bold:before {
  content: '\e77a';
}
/* '' */
.icon-italic:before {
  content: '\e77b';
}
/* '' */
.icon-align-left:before {
  content: '\e77e';
}
/* '' */
.icon-align-center:before {
  content: '\e77f';
}
/* '' */
.icon-align-right:before {
  content: '\e780';
}
/* '' */
.icon-align-justify:before {
  content: '\e781';
}
/* '' */
.icon-list:before {
  content: '\e782';
}
/* '' */
.icon-indent-left:before {
  content: '\e783';
}
/* '' */
.icon-indent-right:before {
  content: '\e784';
}
/* '' */
.icon-help-1:before {
  content: '\e788';
}
/* '' */
.icon-dot-3:before {
  content: '\e78d';
}
/* '' */
.icon-off:before {
  content: '\e78e';
}
/* '' */
.icon-flow-cascade:before {
  content: '\e790';
}
/* '' */
.icon-flow-branch:before {
  content: '\e791';
}
/* '' */
.icon-flow-tree:before {
  content: '\e792';
}
/* '' */
.icon-flow-line:before {
  content: '\e793';
}
/* '' */
.icon-gauge:before {
  content: '\e7a2';
}
/* '' */
.icon-chart-pie:before {
  content: '\e800';
}
/* '' */
.icon-puzzle:before {
  content: '\e7b6';
}
/* '' */
.icon-move:before {
  content: '\5e7';
}
/* 'ק' */
.icon-gplus:before {
  content: '\e03c';
}
/* '' */
.icon-sitemap:before {
  content: '\f0e8';
}
/* '' */
.icon-github:before {
  content: '\f300';
}
/* '' */
.icon-facebook:before {
  content: '\e030';
}
/* '' */
.icon-twitter:before {
  content: '\e03d';
}
/* '' */
.icon-vimeo:before {
  content: '\e031';
}
/* '' */
.icon-tumblr:before {
  content: '\e032';
}
/* '' */
.icon-pinterest:before {
  content: '\e039';
}
/* '' */
.icon-linkedin:before {
  content: '\f312';
}
/* '' */
.icon-youtube:before {
  content: '\e03b';
}
/* '' */
.icon-picture:before {
  content: '\e007';
}
/* '' */
.icon-globe:before {
  content: '\e02d';
}
/* '' */
.icon-gift:before {
  content: '\1ec1';
}
/* 'ề' */
.icon-video:before {
  content: '\e006';
}
/* '' */
.icon-target:before {
  content: '\e038';
}
/* '' */
.icon-top-list:before {
  content: '\e02c';
}
/* '' */
.icon-thumbs-up:before {
  content: '\e036';
}
/* '' */
.icon-thumbs-down:before {
  content: '\e037';
}
/* '' */
.icon-user:before {
  content: '\e003';
}
/* '' */
.icon-users:before {
  content: '\e004';
}
/* '' */
.icon-calendar:before {
  content: '\f313';
}
/* '' */
.icon-chart-line:before {
  content: '\1f000';
}
/* '🀀\1f000' */
.icon-chart-bar:before {
  content: '\e010';
}
/* '' */
.icon-clipboard:before {
  content: '\e7a5';
}
/* '' */
.icon-attach:before {
  content: '\e017';
}
/* '' */
.icon-bookmarks:before {
  content: '\e034';
}
/* '' */
.icon-upload:before {
  content: '\e01b';
}
/* '' */
.icon-download:before {
  content: '\e01a';
}
/* '' */
.icon-camera:before {
  content: '\e008';
}
/* '' */
.icon-search:before {
  content: '\204d';
}
/* '⁍' */
.icon-lock:before {
  content: '\e018';
}
/* '' */
.icon-bookmark:before {
  content: '\e035';
}
/* '' */
.icon-link:before {
  content: '\e016';
}
/* '' */
.icon-fire:before {
  content: '\e033';
}
/* '' */
.icon-clock:before {
  content: '\e03a';
}
/* '' *//**
*  Start building the next web here, Sir
*/
body {
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#tabs,
#tabs-2 {
  overflow: hidden;
}
#tabs ul li a,
#tabs-2 ul li a {
  border: 1px solid #EEE;
}
#tabs ul li a.current,
#tabs-2 ul li a.current {
  background: #FFF;
  border: 1px solid #EEE;
}
#tabs-data,
#tabs-2-data {
  padding: 20px;
  border: 1px solid #EEE;
  margin-bottom: 20px;
}
#tabs-img a {
  opacity: 0.4;
}
#tabs-img a.current {
  opacity: 1;
}
